{% extends "core/base.html" %}

{% block import_js %}
    {{ super() }}
    <script src="/static/js/poker.js"></script>
{% endblock %}

{% block content %}
<div ng-app="pokerApp" ng-controller="pokerCtrl">
    <input type="hidden" ng-init="setSessionSid('{{ session_sid }}')" />
    {% raw %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 well">
                <form ng-submit="createRoom(newChatRoomName)">
                    <p>Chat search:</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter chat name here!"
                               ng-model="newChatRoomName"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Join/Create</button>
                        </span>
                    </div>
                </form>

                <div class="chat-list">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-repeat="room in rooms track by $index" ng-class="{active:isCurrentRoom(rooms[$index])}">
                            <a href ng-click="setCurrentRoom(rooms[$index])"><span>{{ rooms[$index] }}</span>
                                <button type="button" class="close" ng-click="leaveRoom(rooms[$index])"><span
                                        >&times;</span><span class="sr-only">Close</span></button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-10 well">
                <div class="chat-window">
                    <div id="chat-text" scroll-glue>
                        <div class="panel panel-default" ng-repeat="message in messages | filter:{room: currentRoom}">
                            <div class="panel-heading"><b>{{ message.author }}:</b> {{ message.created_at | date }}</div>
                            <div class="panel-body" ng-bind-html="message.text | imagepreview | urlify | unsafe"></div>
                        </div>
                    </div>

                    <form id="input-form" class="form-inline">
                        <div class="form-group" style="width:100%;">
                            <div class="input-group" style="width:100%;">
                                <input id="input-text" type="text" class="form-control" placeholder="Enter chat text here!"
                                       autofocus ng-model="currentMessage" ng-disabled="!rooms.length" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" ng-click="sendMessage(currentMessage)"
                                            ng-disabled="!rooms.length">Send</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
</div>
{% endblock %}