{% extends "core/base.html" %}

{% block import_js %}
    {{ super() }}
    <!--<script src="/static/js/table.js"></script>-->
    <!--<script type="text/javascript">-->
        <!--angular.module('pokerApp').value('table',{{ table }});-->
    <!--</script>-->
{% endblock %}

{% block import_css %}
    <link rel="stylesheet" href="/static/css/poker/room.css">
{% endblock %}

{% block content %}
<div>
    {{ tables }}
    {% for table in tables %}
        <p><a href="{{ table._id }}">Table name: {{ table.name }}. Code: {{ table._id }}</a></p>
    {% endfor %}
</div>
{% endblock %}
