{% extends "core/base.html" %}

{% block import_js %}
    {{ super() }}
    <script src="/static/js/table.js"></script>
    <script type="text/javascript">
        angular.module('pokerApp').constant('table', {{ table }});
        angular.module('pokerApp').constant('sid', '{{ session_sid }}');
    </script>
{% endblock %}

{% block import_css %}
    <link rel="stylesheet" href="/static/css/poker/room.css">
{% endblock %}

{% block content %}
<div ng-app="pokerApp">
    <div ng-controller="roomCtrl">
        {% raw %}
        <div class="container-fluid">
            <div class="row">
                <form>
                    <input class="btn btn-success" type="button" value="Join!" ng-click="join()"/>
                    <input class="btn btn-danger" type="button" value="Leave..." ng-click="leave()"/>
                </form>
                <form>
                    <input type="text" ng-model="betAmount"/>
                    <input class="btn" type="button" value="Bet" ng-click="bet()"/>
                    <input class="btn" type="button" value="Fold" ng-click="fold()"/>
                </form>
            </div>
            <div class="row">
                <div class="col-xs-12 well">
                    <div class="row table-player-row">
                        <div class="col-xs-2 center-text"></div>
                        <div class="col-xs-4 center-text">
                            <span player-view="players" player_idx="4"></span>
                        </div>
                        <div class="col-xs-4 center-text">
                            <span player-view="players" player_idx="5"></span>
                        </div>
                        <div class="col-xs-2 center-text"></div>
                    </div>

                    <div class="row table-player-row">
                        <div class="col-xs-4 center-text">
                            <span player-view="players" player_idx="3"></span>
                        </div>
                        <div class="col-xs-4">
                            <p>Pot: {{ pot }}</p>
                            <p>Circle pot: {{ circlePot }}</p>
                        </div>
                        <div class="col-xs-4 center-text">
                            <span player-view="players" player_idx="6"></span>
                        </div>
                    </div>

                    <div class="row table-player-row">
                        <div class="col-xs-4 center-text">
                            <span player-view="players" player_idx="2"></span>
                        </div>
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4 center-text">
                            <span player-view="players" player_idx="7"></span>
                        </div>
                    </div>

                    <div class="row table-player-row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-3 center-text">
                            <span player-view="players" player_idx="1"></span>
                        </div>
                        <div class="col-xs-4 center-text">
                            <span player-view="players" player_idx="0"></span>
                        </div>
                        <div class="col-xs-3 center-text">
                            <span player-view="players" player_idx="8"></span>
                        </div>
                        <div class="col-xs-1"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endraw %}
    </div>
</div>
{% endblock %}